<div class='container'>
<h1> <%= @user.name %> </h1>
<h2> User since <%= @user.created_at %> </h2>

<p><a href="/users/<%=@user.id%>/posts"><%= @user.name %>'s Posts</a></p>
<p><a href="/users/<%=@user.id%>/comments"><%= @user.name %>'s Comments</a></p>
</div>
