<div class="container">
    <form action="/survery_attempt" method="post" class="take-survery">
      <input type="hidden" name='survey_id[<%= @survey.id %>]'>
    <% @survey.questions.each do |question| %>
      <p><%= question.question %></p>
      <% question.answers.each do |answer| %>
        <input type="radio" name='question[<%= question.id %>]' value='answer[<%= answer.id %>]'> <%= answer.choice %> <br>
      <% end %>
    <% end %>
    <input type="submit" value="Submit">
  </form>
</div>

<script src="js/survey_attempt.js"></script>
